@font-face {
    font-family: a1;
    src: url(./stranger_back_in_the_night/Stranger\ back\ in\ the\ Night.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;   
    background: url("https://images.unsplash.com/photo-1686120552846-7caf1a345876?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

#bg{
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center ;
    }

.container {
    width: 350px;
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    text-align: center;
}
.container p{
    margin-top: 10px;
}


input {
    width: 90%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid gray;
}

.btn {
    margin-top: 20px;
    width: 95%;
    padding: 12px;
    border: none;
    background: #2575fc;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    font-family: a1;
}


.social-icons img {
    height: 50px;
    width:50px;
    border-radius: 50%;
    margin-top: 10px;
    
   
}
